
body { color: #000000; background: #ffffff; min-width: 800px; padding: 25px; }

h1 { font-size: 120%; }

h1, .h1{ font-size:196%; font-weight:normal; font-style: normal; }
h2, .h2{ font-size:167%; font-weight:normal; font-style: normal; }
h3, .h3{ font-size:146.5%; font-weight:normal; font-style: normal; }
h4, .h4{ font-size:123.1%; font-weight:normal; font-style: normal; }
h5, .h5{ font-size:108%; font-weight:bold; font-style: normal; }
h6, .h6{ font-size:108%; font-weight:normal;  font-style: italic; }

a.novisit:visited { color: #0047ff; }
a.novisit:focus, a.novisit:hover { color: #ff0000; }
a { color: #0047ff; }
a:visited { color: #990099; }
a:focus, a:hover { color: #ff0000; }

.pod,.top { width: 40em; margin: 0 auto; clear: both; }
.top { width: 40em; margin: 0 auto; clear: both; }
.item { float: left; display: block; margin-right: 1.6em; margin-bottom: 2em;
	line-height: 1.4em; }


#NAME { display: none }

